/* not needed afaik */
/* ref: https://github.com/sethmacleod/dimension#css-overrides */

#main article {
  background-color: rgba(111, 121, 128, 0.85);
}
ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1em; }
  ul li {
    padding-left: 0.5em; }
  ul.alt {
    list-style: none;
    padding-left: 0; }
    ul.alt li {
      border-top: solid 1px #ffffff;
      padding: 0.5em 0; }
      ul.alt li:first-child {
        border-top: 0;
        padding-top: 0; }
  ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
    border-top: solid 1px #ffffff; }
    ul.icons li {
      display: inline-block;
      padding: 0 0.75em 0 0; }
      ul.icons li:last-child {
        padding-right: 0; }
      ul.icons li a {
        border-radius: 100%;
        box-shadow: inset 0 0 0 1px #ffffff;
        display: inline-block;
        height: 3.25rem;
        line-height: 3.25rem;
        text-align: center;
        width: 3.25rem;
        font-size: 150%;
       }
        ul.icons li a:hover {
          background-color: rgba(255, 255, 255, 0.075); }
        ul.icons li a:active {
          background-color: rgba(255, 255, 255, 0.175); }
  ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0; }
    ul.actions li {
      display: inline-block;
      padding: 0 1rem 0 0;
      vertical-align: middle; }
      ul.actions li:last-child {
        padding-right: 0; }
    ul.actions.small li {
      padding: 0 0.5rem 0 0; }
    ul.actions.vertical li {
      display: block;
      padding: 1rem 0 0 0; }
      ul.actions.vertical li:first-child {
        padding-top: 0; }
      ul.actions.vertical li > * {
        margin-bottom: 0; }
    ul.actions.vertical.small li {
      padding: 0.5rem 0 0 0; }
      ul.actions.vertical.small li:first-child {
        padding-top: 0; }
    ul.actions.fit {
      display: table;
      margin-left: -1rem;
      padding: 0;
      table-layout: fixed;
      width: calc(100% + 1rem); }
      ul.actions.fit li {
        display: table-cell;
        padding: 0 0 0 1rem; }
        ul.actions.fit li > * {
          margin-bottom: 0; }
      ul.actions.fit.small {
        margin-left: -0.5rem;
        width: calc(100% + 0.5rem); }
        ul.actions.fit.small li {
          padding: 0 0 0 0.5rem; }
    @media screen and (max-width: 480px) {
      ul.actions {
        margin: 0 0 2rem 0; }
        ul.actions li {
          padding: 1rem 0 0 0;
          display: block;
          text-align: center;
          width: 100%; }
          ul.actions li:first-child {
            padding-top: 0; }
          ul.actions li > * {
            width: 100%;
            margin: 0 !important; }
            ul.actions li > *.icon:before {
              margin-left: -2em; }
        ul.actions.small li {
          padding: 0.5rem 0 0 0; }
          ul.actions.small li:first-child {
            padding-top: 0; } }
