<!-- customized index.html for rounded logo image --> 
<!DOCTYPE HTML>
<!--
	Dimension by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>{{ .Title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="/css/noscript.css" /></noscript>
	</head>
	<body>
{{ partial "header.html" . }}

    <!-- Wrapper -->
      <div id="wrapper">

        <!-- Header -->
          <header id="header">
            <div class="logo">
              {{ with .Site.Params.logoimage }}
              <img src="{{ . }}" width="100%" style="padding: 2px 2px 2px 2px; border-radius: 50%">
            {{ end }}
            {{ with .Site.Params.logo }}            
              <span class="icon {{ . }}"></span>
            {{ end }}
            </div>
            <div class="content">
              <div class="inner">
                <h1>{{ .Site.Title | safeHTML }}</h1>
                <p>{{ .Site.Params.description | safeHTML }}</p>
              </div>
            </div>
            <!--<nav>
              <ul>
                {{ range .Data.Pages.ByWeight }}
                  <li>{{ if isset .Params "link" }}<a href="{{ index .Params "link" }}"{{else}}<a href="#{{ .File.TranslationBaseName }}"{{end}}>{{ if .GetParam "menuname" }}{{ .GetParam "menuname" }}{{ else }}{{ .Title }}{{ end }}</a></li>
                
                  {{ end }}
              </ul>
            </nav>-->
            <ul class="icons">
              {{ range .Site.Params.social }}
                <li><a href="{{ .link | safeURL }}" class="icon fa-{{ .icon }}"><span class="label">{{ .medium }}</span></a></li>
              {{ end }}
            </ul>
          </header>

        <!-- Main -->
          <div id="main">
            {{ range .Data.Pages }}
              {{ .Render "onepagestyle" }}
            {{ end }}
          </div>

        <!-- Multilanguage -->
          <div id="languages">
            {{ if .IsTranslated }}
              {{ range $i, $e := .Translations }}
                {{ if $i }}, {{ end }}<a href="{{ .Permalink }}">{{ $e.Language.LanguageName }}</a>
              {{ end}}
            {{ end }}
          </div>
{{ partial "footer.html" . }}
